Assignment details:

- Clone this repo.
- Checkout your own branch e.g. user/<your_name/project_name
- Create web project
  - use https://developer.nytimes.com/ APIs to create a demo to display
    - Most puplar and search articles	
      - Be able to follow links by adding new tab for each article.
      - Provide CRUD options for each article in local cache at results or inidvidual article level	
        - Rating (1-5 stars)
        - Add / remove to favorites
        - Add / Edit / Remove notes	
   - Be able to view and manage Favorites list from local cache
   - Close all tabs individually or all at once
- Commit your change for review.